WebServicePrac/WebApplication2/Service References/FindZodiaService/ZodiaFinderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FindZodiac">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zodiac" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindZodiacResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindZodiacResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindZodiacSoapIn">
    <wsdl:part name="parameters" element="tns:FindZodiac" />
  </wsdl:message>
  <wsdl:message name="FindZodiacSoapOut">
    <wsdl:part name="parameters" element="tns:FindZodiacResponse" />
  </wsdl:message>
  <wsdl:portType name="ZodiaFinderServiceSoap">
    <wsdl:operation name="FindZodiac">
      <wsdl:input message="tns:FindZodiacSoapIn" />
      <wsdl:output message="tns:FindZodiacSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZodiaFinderServiceSoap" type="tns:ZodiaFinderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindZodiac">
      <soap:operation soapAction="http://tempuri.org/FindZodiac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZodiaFinderServiceSoap12" type="tns:ZodiaFinderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindZodiac">
      <soap12:operation soapAction="http://tempuri.org/FindZodiac" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZodiaFinderService">
    <wsdl:port name="ZodiaFinderServiceSoap" binding="tns:ZodiaFinderServiceSoap">
      <soap:address location="http://localhost:55031/ZodiaFinderService.asmx" />
    </wsdl:port>
    <wsdl:port name="ZodiaFinderServiceSoap12" binding="tns:ZodiaFinderServiceSoap12">
      <soap12:address location="http://localhost:55031/ZodiaFinderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>